#app {
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: "Cinzel", serif;
}

.f-d-container-main {
    background-color: #392204;
    height: 50%;
    width: 80%;
    border-radius: 10px;
    opacity: 0.9;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.f-d-container-pills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    height: 15%;
    width: 100%;
    border-radius: 10px;
}

.f-d-container-empty {
    height: 15%;
    width: 100%;
    border-radius: 10px;
}

.first-container {
    width: calc(50% - 20px);
    height: 100%;
    background-color: #392204;
    opacity: 0.9;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.second-container {
    width: calc(50% - 20px);
    height: 100%;
    background-color: #392204;
    opacity: 0.9;
    border-radius: 10px;
}

.f-d-button {
    width: 50%;
    height: 20%;
    border-radius: 10px;
    background-color: #F0EB00;
    opacity: 0.9;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

/* card */

.flip-card {
    background-color: transparent;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
/* Add the flip class to flip the card */
.flip-card-inner.flip {
    transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: transparent;
    border-radius: 5px;
}
  
/* Style the back side */
.flip-card-back {
    background-image: url(../img/back-card.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100px;
    height: 150px;
    border-radius: 5px;
}

.item-card {
    width: 80px;
    height: 80px;
}