#app {
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: "Cinzel", serif;
}

.f-d-container-main {
    background-color: #392204;
    height: 50%;
    width: 80%;
    border: 1px solid #FFDB0F;
    border-radius: 10px;
    opacity: 0.9;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.f-d-container-pills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    height: 15%;
    width: 100%;
    border-radius: 10px;
}

.f-d-container-empty {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-d-container-empty {
    height: 15%;
    width: 100%;
    border-radius: 10px;
}

.first-container {
    width: calc(50% - 20px);
    height: 100%;
    background-color: #392204;
    border: 1px solid #FFDB0F;
    opacity: 0.9;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-container {
    width: calc(50% - 20px);
    height: 100%;
    background-color: #392204;
    border: 1px solid #FFDB0F;
    opacity: 0.9;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.f-d-button-confirm {
    width: calc(45% - 20px);
    height: 50%;
    background-color: #261921;
    border: 1px solid #FFDB0F;
    opacity: 0.9;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;
    &:hover {
        cursor: pointer;
        background-color: #B06601;
    }
}

.f-d-button-confirm-modal {
    width: 20%;
    height: 50%;
    background-color: #261921;
    border: 1px solid #FFDB0F;
    opacity: 0.9;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;
    &:hover {
        cursor: pointer;
        background-color: #B06601;
    }
}

.f-d-button-destroy-modal {
    width: 20%;
    height: 50%;
    background-color: #9F1600;
    border: 1px solid #ff1302;
    opacity: 0.9;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;
    &:hover {
        cursor: pointer;
        background-color: #ff1302;
    }
}

.f-d-button-destroy {
    width: calc(45% - 20px);
    height: 50%;
    background-color: #9F1600;
    border: 1px solid #ff1302;
    opacity: 0.9;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;
    &:hover {
        cursor: pointer;
        background-color: #ff1302;
    }
}

.f-d-miniButton {
    width: 150px;
    height: 50%;
    background-color: #261921;
    border: 1px solid #FFDB0F;
    opacity: 0.9;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
        background-color: #B06601;
    }
}

.f-d-timeButton {
    width: 150px;
    height: 50px;
    background-color: #261921;
    border: 1px solid #FFDB0F;
    opacity: 0.9;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-d-moves-errors {
    width: 30%;
    height: 50%;
    background-color: #261921;
    border: 1px solid #FFDB0F;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-d-background-dropdown {
    background-color: #392204;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    a {
        color: white;
    }
    &:hover {
        cursor: pointer;
    }
}

.modal-footer {
    border: none !important;
}
/* card */

.flip-card {
    background-color: transparent;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
  
/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
/* Add the flip class to flip the card */
.flip-card-inner.flip {
    transform: rotateY(180deg);
}
  
/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: transparent;
    border-radius: 5px;
}
  
/* Style the back side */
.flip-card-back {
    background-image: url(../img/back-card.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100px;
    height: 150px;
    border-radius: 5px;
}

.item-card {
    width: 80px;
    height: 80px;
}

/* table */

.f-d-table-bg {
    background-color: #FFDB0F;
    border: 1px solid #261921;
    border-radius: 10px;
    color: #392204;
}

.f-d-table-bg-2 {
    background-color: #261921;
    border: 1px solid #FFDB0F;
    border-radius: 10px;
    color: #FFDB0F;
}

.f-d-table-bg-3 {
    background-color: #261921;
    border: 1px solid #FFDB0F;
    border-radius: 10px;
    color: #FFDB0F;
}

.custom-table {
    background-color: #261921;
    color: #FFDB0F;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.custom-table thead {
    background-color: rgba(0, 0, 0, 0.2);
}

.custom-table th {
    background: linear-gradient(to right, #261921, #3498db, #261921);
    color: #FFDB0F;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 15px;
    border: none;
}

.custom-table td {
    padding: 8px 10px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-table tbody tr {
    transition: background-color 0.3s ease;
}

.custom-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.custom-table tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}

/* modal */

.modal-content {
    background-image: url(../img/wow-image-4.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
